stages:
  - test
  - stats
  - release

lint:
  stage: test
  tags:
    - android-sdk-26
    - openjdk-8
    - python3
  script:
    - python3 -m venv virtual && source virtual/bin/activate && pip install ci-scripts
    - gradle-ktlint

# TODO: unit tests

build_app:
  stage: test
  only:
    - master
    - develop
  tags:
    - openjdk-8
    - android-sdk-26
    - python3
  script:
    - python3 -m venv virtual && source virtual/bin/activate && pip install ci-scripts
    - gradle-build-android
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts/

gitstats:
  stage: stats
  tags:
    - python3
    - gitstats
    - progstats
  script:
    - python3 -m venv virtual && source virtual/bin/activate && pip install ci-scripts
    - gitstats-gen

docgen:
  stage: stats
  tags:
    - python3
    - progstats
  script:
    - python3 -m venv virtual && source virtual/bin/activate && pip install ci-scripts
    - sphinx-docgen

release_upload:
  stage: release
  only:
    - master
  tags:
    - python3
  script:
    - python3 -m venv virtual && source virtual/bin/activate && pip install ci-scripts
    - github-release-upload $(cat version) "$(changelog-reader)"
    - gitlab-release-upload $(cat version) "$(changelog-reader)"

upload_play_store:
  stage: release
  only:
    - master
  tags:
    - python3
  script:
    - python3 -m venv virtual && source virtual/bin/activate && pip install ci-scripts
    - changelog-reader -c CHANGELOG -d en-US
    - changelog-reader -c CHANGELOG-de -d de-DE
#TODO Make script fetch this stuff automagically
    - echo $PLAY_UPLOAD_SECRET | base64 -d > key.p12
    - python3 ci-scripts/src/play-upload/play-upload.py net.namibsun.hktipp production $PLAY_UPLOAD_EMAIL key.p12 artifacts/*.apk --changes="en-US,de-DE"
    - rm key.p12
