stages:
  - mirror
  - test
  - stats
  - release

default:
  image: namboy94/ci-docker-environment:latest
  before_script:
    - echo "$SERVER_ACCESS_KEY" > ~/.ssh/id_rsa
    - chmod 0600 ~/.ssh/id_rsa
    - ./gradlew

github_mirror:
  stage: mirror
  tags: [docker]
  only: [master, develop]
  before_script:
    - echo "$GITHUB_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 0600 ~/.ssh/id_rsa
  script:
    - git-mirror-pusher git@github.com:namboy94/bundesliga-tippspiel-android.git
      master develop

lint:
  stage: test
  tags: [docker]
  script:
    - gradle-ktlint

unittest:
  stage: test
  tags: [docker]
  only: [master, develop]
  script:
    - gradle-jacoco app

build_app:
  stage: test
  only: [master, develop]
  tags: [docker]
  script:
    - gradle-build-android app
  after_script:
    - ls app/build/
    - ls app/build/outputs/apk
    - ls app/build/outputs/apk/release
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts/

gitstats:
  stage: stats
  tags: [docker]
  script:
    - gitstats-gen

docgen:
  stage: stats
  tags: [docker]
  script:
    - gradle-dokka app

release_upload:
  stage: release
  only: [master]
  tags: [docker]
  script:
    - github-release-upload $(cat version) "$(changelog-reader)"
    - gitlab-release-upload $(cat version) "$(changelog-reader)"

upload_play_store:
  stage: release
  only: [master]
  tags: [docker]
  script:
    - play-upload net.namibsun.hktipp production
