stages:
  - mirror
  - test
  - build
  - release

github_mirror:
  stage: mirror
  tags:
    - github_namboy94_push
  script:
    - git checkout master
    - git pull
    - git push git@github.com:namboy94/bundesliga-tippspiel-android.git master -f
    - git checkout develop
    - git pull
    - git push git@github.com:namboy94/bundesliga-tippspiel-android.git develop -f

lint:
  stage: test
  tags:
    - androidsdk26
    - openjdk8
  script:
    - ./gradlew ktlint

build_app:
  stage: build
  only:
    - master
    - develop
  tags:
    - openjdk8
    - androidsdk26
  script:
    - mkdir -p artifacts
    - echo $ANDROIDKEY | base64 -d > androidkey
    - echo $ANDROIDKEY | base64 -d > app/androidkey
    - ./gradlew assembleRelease -Pandroid.injected.signing.store.file=androidkey -Pandroid.injected.signing.store.password=$ANDROIDKEY_PASS -Pandroid.injected.signing.key.alias=$ANDROIDKEY_ALIAS -Pandroid.injected.signing.key.password=$ANDROIDKEY_PASS
    - mv app/build/outputs/apk/app-release.apk artifacts/hktipp-$(./gradlew version -q).apk
    - rm androidkey app/androidkey
  artifacts:
    expire_in: 1 week
    paths:
      - artifacts/

upload_release_to_github:
  stage: release
  only:
    - master
  tags:
    - python
    - openjdk8
    - androidsdk26
  script:
    - mkdir -p artifacts
    - git clone https://gitlab.namibsun.net/namboy94/ci-scripts.git
    - python ci-scripts/src/changelog-reader/changelog-reader.py -c CHANGELOG -d current_changelog
    - python ci-scripts/src/github-release-uploader/github-release-uploader.py namboy94 bundesliga-tippspiel-android $GITHUB_ACCESS_TOKEN
      $(./gradlew version -q) current_changelog artifacts -b master

upload_release_to_gitlab:
  stage: release
  only:
    - master
  tags:
    - python
    - openjdk8
    - androidsdk26
  script:
    - mkdir -p artifacts
    - git clone https://gitlab.namibsun.net/namboy94/ci-scripts.git
    - python ci-scripts/src/changelog-reader/changelog-reader.py -c CHANGELOG -d  current_changelog
    - python ci-scripts/src/gitlab-release-uploader/gitlab-release-uploader.py namboy94 bundesliga-tippspiel-android $GITLAB_ACCESS_TOKEN
      $(./gradlew version -q) current_changelog artifacts -b master -u https://gitlab.namibsun.net

upload_play_store_beta:
  stage: release
  only:
    - master
  tags:
    - python
    - python-pip
  script:
    - pip install --upgrade google-api-python-client pyOpenSSL --user
    - git clone https://gitlab.namibsun.net/namboy94/ci-scripts.git
    - python ci-scripts/src/changelog-reader/changelog-reader.py -c CHANGELOG -d en-US
    - python ci-scripts/src/changelog-reader/changelog-reader.py -c CHANGELOG-de -d de-DE
    - echo $PLAY_UPLOAD_SECRET | base64 -d > key.p12
    - python ci-scripts/src/play-upload/play-upload.py net.namibsun.hktipp production $PLAY_UPLOAD_EMAIL key.p12 artifacts/*.apk --changes="en-US,de-DE"
    - rm key.p12
